.header {
  background: #333;
  color: #fff;
  padding: 15px 0; }
  .header a {
    color: #DDD;
    text-decoration: none; }
    .header a:hover {
      color: #CCC; }
  .header .logo {
    margin: 0;
    font-size: 22px;
    float: left; }
    .header .logo small {
      font-size: 12px;
      font-style: italic; }
  .header .container {
    position: relative; }
  .header .logout-link {
    float: right; }

.login-tron {
  position: relative;
  background: #000 url("/img/mainbg.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  padding-top: 6%;
  padding-bottom: 6%; }
  .login-tron .intro-heading {
    text-align: center;
    color: #FFF;
    font-size: 38px; }
    .login-tron .intro-heading small {
      display: block;
      color: #EAEAEA;
      margin-top: 15px; }

.login-wrapper {
  width: 100%;
  margin: 60px auto; }
  @media (min-width: 768px) {
    .login-wrapper {
      width: 50%; } }

.video-figure-wrapper {
  margin-bottom: 30px; }
  .video-figure-wrapper .video-figure {
    background-color: #EAEAEA; }
    .video-figure-wrapper .video-figure .video-title {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 15px; }
      .video-figure-wrapper .video-figure .video-title .video-link {
        color: #666;
        text-decoration: none; }
        .video-figure-wrapper .video-figure .video-title .video-link:hover {
          color: #333; }
    .video-figure-wrapper .video-figure .video-wrapper video {
      width: 100%;
      height: auto; }
    .video-figure-wrapper .video-figure .caption-wrapper {
      padding: 15px; }
    .video-figure-wrapper .video-figure .video-desc {
      color: #333; }

.video-details-wrapper .details-tron {
  background-color: #000; }
  .video-details-wrapper .details-tron .video-wrapper {
    width: 80%;
    margin: 0 auto; }
    .video-details-wrapper .details-tron .video-wrapper video {
      width: 100%;
      height: auto;
      vertical-align: bottom; }

.video-details-wrapper .info-head {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 30px; }
  .video-details-wrapper .info-head .video-title {
    font-size: 24px;
    color: #666; }
  .video-details-wrapper .info-head .ratings-wrapper {
    position: relative;
    top: 8px; }

.video-details-wrapper .video-desc {
  color: #333; }

.video-details-wrapper .video-figure-wrapper .video-figure {
  padding: 15px; }
  .video-details-wrapper .video-figure-wrapper .video-figure .video-title {
    padding: 0;
    margin-bottom: 5px; }

.ratings-wrapper {
  position: relative;
  margin-bottom: 15px; }
  .ratings-wrapper .rating-msg {
    color: #666;
    font-weight: bold;
    font-style: italic;
    position: relative;
    bottom: 4px; }
  .ratings-wrapper .rate-msg {
    font-size: 12px;
    color: #E4382E;
    position: absolute;
    top: -15px; }

.star-yellow {
  color: #FFCC1D; }

.star-red {
  color: #E4382E; }

.star-grey {
  color: #CCC; }

.fs-lg {
  font-size: 20px; }

.error-msg {
  color: red;
  margin: 10px 0; }

.flex {
  display: flex;
  flex-flow: row wrap; }

.heading {
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  padding-bottom: 5px; }

.page-wrapper {
  margin-top: 60px;
  margin-bottom: 60px; }

.section-wrapper {
  margin-top: 30px;
  margin-bottom: 30px; }
