.header {
	background: #333;
	color: #fff;
	padding: 15px 0;
	a {
		color: #DDD;
		text-decoration: none;
		&:hover {
			color: #CCC;
		}
	}
	.logo {
		margin: 0;
		font-size: 22px;
		float: left;
		small {
			font-size: 12px;
			font-style: italic;
		}
	}
	.container {
		position: relative;
	}
	.logout-link {
		float: right;
	}
}
